/*
COLOR PALETTE
https://coolors.co/c4c0c3-f8f8f8-ececed-54616a-d5d2d0

Alabaster     #F8F8F8  248, 248, 248
Athens Gray   #ECECED  236, 236, 237
Swiss Coffee  #D5D2D0  213, 210, 208
Pale Slate    #C4C0C3  196, 192, 195
Shuttle Gray  #54616A  84, 97, 106
*/

/* GLOBAL STYLES 
------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    background: #F8F8F8; 
    margin: 0;
}

/* Links */
a { 
    color: #C4C0C3;
    
}
a:hover {
    color: #F8F8F8;
    text-decoration: none;
}


/* HOME (class)
------------------------------------*/
.home {
    background: url(../media/bg-img-1920x1440.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.home .content-wrapper {
    background: rgb(248 248 248 / 0.9);
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

.btn {
    background: #C4C0C3;
    color: #F8F8F8;
    text-decoration: none;
}
.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}

header {
    margin-bottom: 50px;
}

.resume-section {
    margin-bottom: 50px;
}
.resume-section h2 {
    border-bottom: 2px solid #C4C0C3;
}


/* SUMMARY
------------------------------------*/


/* WORK EXPERIENCE
------------------------------------*/


/* EDUCATION
------------------------------------*/


/* SKILLS
------------------------------------*/


/* CERTIFICATIONS
------------------------------------*/


/* SECURITY CLEARANCE
------------------------------------*/


/* FOOTER
------------------------------------*/
footer {
    background: #54616A;
    color: #F8F8F8;
}

.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
}
.socials img {
    width: 32px;
}